.navbar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 3.6rem;
    background-color: #369722;
    box-sizing: border-box;
    //border-bottom: 1px solid #eaecef;
}

.icon.outbound {
    color: #001530;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    display none !important
}

// .vuepress/styles/index.styl
.cool
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold
