$navTextColor = #5469d4
$accentColor = #5469d4
$textColor = #2a2f45
$codeBgColor = #001530
$boxBgColor = #f2f5f7
$tipGrey = #3c4257
$warningPink = #e28ddc
$gazpacho = #ed0100
$bgColor = #fbfbfb

$contentWidth = 800px

$primaryFont = 'Miriam Libre'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

// Feature Styles
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
$textDarkColor = #415b75
$textLightColor = #547599
$textLighterColor = #9eb0c2
$cardBackgroundColor = #f8f8f8

//Link List
$spacing-tiny = .5rem;
$spacing-small = .75rem;
$spacing = 1rem;
$spacing-medium = 1.25rem;
$spacing-large = 1.5rem;
$spacing-xlarge = 2rem
$box-shadow = 0 1px 3px 0 hsla(232, 23%, 47%, 0.2);
$color-gray-light = hsl(215, 14%, 84%);
$color-white-ter = hsl(0, 0%, 93%);
$color-white-bis = hsl(0, 0%, 95%);
$color-gray = hsl(0, 0%, 42%);
$border-default-color = $color-gray-light;
$mq-mobile-portrait = 320px !default;
$mq-mobile-landscape = 480px !default;
$mq-tablet-portrait = 768px !default;
$mq-tablet-landscape = 1024px !default;
$mq-desktop = 1382px !default;